.idea/
.vscode/
.vs/

/Binaries/
/Build/
/Content/
/DerivedDataCache/
/Intermediate/
/Plugins/**/Binaries/
/Plugins/**/Content/
/Plugins/**/Intermediate/
/Saved/


*.sln
/.vsconfig
/MutateArena.uproject.DotSettings.user
